name: Telegram Command Bot

on:
  workflow_dispatch:
    inputs:
      command:
        description: 'Команда для бота'
        required: true
        default: 'version'

jobs:
  run-command:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Run Telegram command
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          BOT_COMMAND: ${{ github.event.inputs.command }}
        run: python commands.py
